.donation{
    background-color: rgb(201, 235, 248);
    padding: 25px;
    margin-top: 50px;
    border-radius: 5px;
}
.donation-title{
    color: rgb(39, 38, 105);
}
.donation-image{
    width: 50px;
}